.default-font {
  font-family: Inter;
}

.font-leifa {
  font-family: serif;
}

.font-weight_400 {
  font-weight: 400;
}

.font-weight_500 {
  font-weight: 500;
}

.font-weight_700 {
  font-weight: 700;
}

.font-weight_800 {
  font-weight: 800;
}

.bg-color_FEFEFE {
  background-color: #fefefe;
}

.p_24_24 {
  font-size: 24px;
  line-height: 24px;
  margin: 0 0;
}

.p_16 {
  font-size: 16px;
  line-height: 26px;
  margin: 0 0;
}

.p_14 {
  font-size: 14px;
  line-height: 22px;
  margin: 0 0;
}

.header {
  position: fixed;
  left: 0;
  top: 0;

  width: 100%;
  height: 80px;

  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.header__content {
  width: 1440px;
  height: auto;
  padding: 20px 120px;

  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.header__start {
  display: flex;
}

.header__logo {
  display: flex;
  align-items: center;
  margin: auto 56px;
}

.header__logo-image {
  height: 40px;
  width: 52px;

  margin: 0 8px;
}

.header__nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.header__nav-item {
  margin: 0 32px 0 0;
}

.header__end {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.button {
  padding: 16px 24px;
  background-color: #2e4fd7;
  color: white;

  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.button_small {
  padding: 5px 20px;
}

.button__arrow {
  margin: 0 0 0 8px;
}

.main-content {
  padding-top: 80px;
}
