.default-font {
  font-family: Inter;
}

.font-leifa {
  font-family: serif;
}

.font-weight_400 {
  font-weight: 400;
}

.font-weight_500 {
  font-weight: 500;
}

.font-weight_700 {
  font-weight: 700;
}

.font-weight_800 {
  font-weight: 800;
}

.bg-color_FEFEFE {
  background-color: #fefefe;
}

.bg-color_E7EBFC {
  background-color: #e7ebfc;
}

.p_24_24 {
  font-size: 24px;
  line-height: 24px;
}

.p_16 {
  font-size: 16px;
  line-height: 26px;
}

.p_18 {
  font-size: 18px;
  line-height: 28px;
}

.p_14 {
  font-size: 14px;
  line-height: 22px;
}

.p_20 {
  font-size: 20px;
  line-height: 30px;
}

.p_24 {
  font-size: 24px;
  line-height: 34px;
}

.p_42 {
  font-size: 42px;
  line-height: 52px;
}

.header {
  position: fixed;
  left: 0;
  top: 0;

  width: 100%;
  height: 80px;

  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.header__content {
  width: 1440px;
  height: auto;
  padding: 20px 120px;

  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.header__start {
  display: flex;
}

.header__logo {
  display: flex;
  align-items: center;
  margin-right: 56px;
}

.header__logo-image {
  height: 40px;
  width: 52px;

  margin: 0 8px;
}

.header__nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.header__nav-item {
  margin: 0 32px 0 0;
}

.header__end {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.button {
  padding: 16px 24px;
  background-color: #2e4fd7;
  flex-shrink: 0;
  flex-grow: 0;
  color: white;
  height: fit-content;
  width: fit-content;

  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.button_small {
  padding: 5px 20px;
}

.button__arrow {
  margin: 0 0 0 8px;
}

.main-content {
  padding-top: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero {
  padding: 145px 120px;
  max-width: 1440px;

  display: flex;
}

.hero__content {
  display: flex;
  flex-direction: column;
  width: 635px;
  margin-right: 105px;
}

.hero__button-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  max-width: 450px;
  margin-bottom: 70px;
}

.h1 {
  margin: 0 0 42px 0;
  font-size: 64px;
  line-height: 72px;
  font-weight: 700;
}

.h2 {
  font-size: 52px;
  line-height: 62px;
  font-weight: 700;
}

h3 {
  font-size: 42px;
  line-height: 52px;
  font-weight: 700;
}

.hero__description {
  max-width: 500px;
  margin-bottom: 42px;
}

.hero__button {
  margin-right: 20px;
}

.hero__logos {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.logo {
  margin-right: 20px;
  width: fit-content;
  height: fit-content;
}

.hero__image {
  height: 100%;
  width: auto;
}

.section {
  width: 1110px;
  padding: 130px 165px;
}

.features {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.features__left-column {
  width: 508px;

  display: flex;
  flex-direction: column;
}

.features__item {
  display: flex;
  flex-direction: row;
  margin-bottom: 50px;
}

.features__item:last-of-type {
  margin-bottom: 0;
}

.features__item-icon {
  width: 54px;
  height: 54px;
  margin-right: 24px;
}

.features__item-description {
  width: 330px;
}

.features__item-content {
  display: flex;
  flex-direction: column;
}

.features__right-column {
  width: 540px;
}

.features__title {
  margin: 0 0 16px 0;
}

.features__description {
  margin-bottom: 28px;
}

.benefits__title {
  margin: 0 0 38px 0;
}

.benefits__content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}

.benefits__item {
  margin-right: 30px;
  width: 45%;

  display: flex;
  flex-direction: row;
}

.benefits__item-logo {
  margin-right: 40px;
}

.case-studies__wrapper {
  width: 1110px;
  height: 468px;

  padding: 116px 0 116px 95px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.case-studies__content {
  display: flex;
  flex-direction: column;
}

.case-studies__title {
  margin: 0 0 32px 0;
}

.case-studies__text {
  width: 588px;
  margin-bottom: 32px;
}

.process__title {
  margin: 0 0 68px 0;
}

.process__flow {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.process__item-logo {
  margin-bottom: 16px;
}

.process__item {
  width: 20%;
  margin-right: 30px;
}

.process__item-title {
  margin-bottom: 4px;
}

.cta {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cta__title {
  text-align: center;
  margin: 0 0 24px 0;
}

.cta__description {
  text-align: center;
  width: 826px;
  margin-bottom: 60px;
}

.cta__button {
  margin-bottom: 43px;
}

.cta__logos {
  width: 1110px;
  height: 80px;
  border-top: #b4b4b4 solid 2px;

  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.cta__philips-logo {
  margin-top: 61px;
}

.cta__logitech-logo {
  margin-top: 56px;
}

.cta__amazon-logo {
  margin-top: 60px;
}

.cta__facebook-logo {
  margin-top: 52px;
}

.cta__google-logo {
  margin-top: 55px;
}

.cta__linkedin-logo {
  margin-top: 50px;
}
